extends layout

block content
  table.hq_tb.mt20
    tr
      each item in model.titles
        th= item
    each item in data
      tr
        td= item.no
        td= item.val
        - for (var i = 0; i < 8; i ++)
            td
        