doctype html
html
  head
    meta(charset='UTF-8')
    title 行情
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav.c
      a.fl(href='#') 加拿大28
      a.fl(href='#') PC蛋蛋
      a.fl(href='#') 印尼28
    block content
